
@media (max-width: 600px) {
  .li {
    position: relative;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }

  .li::after {
    content: '';
    position: absolute;
    bottom: -1rem;
    width: 0%;
  }

  .active::after {
    width: 100%;
    height: .25rem;
    background-color: var(--activeColor);
  }

  .active p, .li:hover p{
    color: var(--White);
  }

  .li, .p {
    background: transparent;
  }
}

@media (min-width: 601px) {
  .li {
    border: .03rem solid var(--DarkGray);
    padding: .7rem 1.5rem;
    width: 100%;
    cursor: pointer;
  }

  .span {
    color: rgba(255, 255, 255, 0.5);
    margin-right: 1rem;
    background: transparent;
  }

  .p {
    background: transparent;
  }

  .active {
    background-color: var(--activeColor);
  }

  .onHover:hover {
    background-color: var(--DarkGray);
  }
}