.article {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 gap: 1rem;
 padding: 0 1.5rem;
 text-transform: uppercase;
}

.article article {
 display: flex;
 align-items: center;
 justify-content: space-between;
 border: .03rem solid var(--DarkGray);
 width: 100%;
 padding: .7rem 1.5rem;
}

.article article > h3 {
 color: rgba(255, 255, 255, 0.5);
 font-size: .65rem;
 line-height: 1rem;
 letter-spacing: 1px;
}

.article article > p {
 font-family: var(--Antonio);
 font-size: 1.25rem;
 letter-spacing: -0.75px;
 line-height: 1.6175rem;
}

.article, .article article {
  background-color: transparent;
}


/* >TAB SCREENS */
@media (min-width: 601px) {
 .article {
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
 }

 .article article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  padding: 1rem;
 }

 .article article > p {
  font-family: var(--Antonio);
  font-size: 1.5rem;
  letter-spacing: -0.9px;
  line-height: 1.94rem;
 }
 
}

@media (min-width: 1200px) {
 .article {
  gap: 2rem;
  padding: 0;
 }

 .article article > h3 {
  font-size: .75rem;
  line-height: 1.5625rem;
 }

  .article article > p {
   font-family: var(--Antonio);
   font-weight: var(--Regular);
   font-size: 2.5rem;
   letter-spacing: -1.5px;
   line-height: 3.325rem;
  }
}