.nav {
  margin: 0;
}

/* MOBILE SCREENS ONLY */
@media (max-width: 600px) {
  .nav {
    padding: 0 2rem;
    position: absolute;
    top: 70px;
    left: 0;
    z-index: 9;
    width: 100%;
  }
}

/* > TAB SCREENS */
@media (min-width: 601px) {
  .nav {
    padding: 1rem;
  }

  .ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  }
}