.nav {
  margin: 0;
}

/* MOBILE SCREENS ONLY */
@media (max-width: 600px) {
  .nav {
    padding: 1.5rem 1rem;
    position: absolute;
    top: 4.375rem;
    left: 0;
    z-index: 9;
    width: 100%;
    min-height: 100vh;
    border-bottom: .03rem solid var(--DarkGray);
  }
}

/* > TAB SCREENS */
@media (min-width: 601px) {
  .nav {
    padding: 1rem;
  }

  .ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  }
}