* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--DarkNavy);
}

:root {
  /* FONTS */
  --Antonio: 'Antonio', serif;
  --Spartan: 'League Spartan', serif;

  --Regular: 400;
  --Medium: 500;
  --Bold: 700;

  /* COLOURS */
  --White: #ffffff;
  --DarkNavy: #070724;
  --DarkGray: #38384f;
  --SlateGray: #838391;
  --AquaBlue: #419ebb;
  --SunsetOrange: #eda249;
  --RoyalPurple: #6f2ed6;
  --BurntRed: #d14c32;
  --FireRed: #d83a34;
  --CopperOrange: #cd5120;
  --TealGreen: #1ec2a4;
  --BrightBlue: #2d68f0;
}

body {
  font-family: var(--Spartan);
  font-weight: var(--Regular);
  font-size: .875rem;
  line-height: 1.5625rem;
  color: var(--White);
}

/* .text-xl {
  font-family: var(--Antonio);
  font-weight: var(--Medium);
  font-size: 5rem;
  line-height: 6.4375rem;
} */

.text-xl {
  font-family: var(--Antonio);
  font-size: 1.75rem;
  font-weight: var(--Regular);
  line-height: 2.2644rem;
  letter-spacing: -1.05px;
}

.text-l {
  font-family: var(--Antonio);
  font-weight: var(--Medium);
  font-size: 2.5rem;
  line-height: 3.25rem;
  letter-spacing: -1.5px;
}

.text-medium {
  font-family: var(--Spartan);
  font-weight: var(--Bold);
  font-size: .9375rem;
  line-height: 1.5625rem;
  letter-spacing: 2.6px;
}

.text-small {
  font-family: var(--Spartan);
  font-weight: var(--Bold);
  font-size: .6875rem;
  line-height: 1.5625rem;
  letter-spacing: 1px;
}

/* default button text uses .text-medium class */
.active-button {
  background-color: var(--AquaBlue);
}

.hover-button {
  background-color: var(--DarkGray);
}

/* MOBILE SCREENS */
/* @media (min-width: 601px) {
  .text-medium {
    font-size: ;
  }
} */