:root {
  /* FONTS */
  --antonio: 'Antonio', serif;
  --spartan: 'League Spartan', serif;

  /* COLOURS */
  --white: #ffffff;
  --darkNavy: #070724;
  --darkGray: #38384f;
  --slateGray: #838391;
  --aquaBlue: #419ebb;
  --sunsetOrange: #eda249;
  --royalPurple: #6f2ed6;
  --burntRed: #d14c32;
  --fireRed: #d83a34;
  --copperOrange: #cd5120;
  --tealGreen: #1ec2a4;
  --brightBlue: #2d68f0;
}